.sidebar {
  flex: 1;
  height: calc(100vh - 60px);
  position: sticky;
  top: 60px;
  background-color: darkblue;
}

.sidebarWrapper {
  padding: 12px;
  color: white;
}

.sidebarMenu {
  margin-bottom: 2px;
}

.sidebarTitle {
  font-size: 20px;
  font-weight: bold;
  color:white;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
  background-color: darkgrey;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}